<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969509844537-usk9bi65kfnbuju43de3ercl3agvbd09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969509844537-usk9bi65kfnbuju43de3ercl3agvbd09</string>
	<key>API_KEY</key>
	<string>AIzaSyDrow7lfSNrZp6ly04TMGfGUoF9xImL5Hg</string>
	<key>GCM_SENDER_ID</key>
	<string>969509844537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nirbhaysingh.FindMyParty</string>
	<key>PROJECT_ID</key>
	<string>findmyparty-4075b</string>
	<key>STORAGE_BUCKET</key>
	<string>findmyparty-4075b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:969509844537:ios:d1a20f421debe47a523fe8</string>
</dict>
</plist>
